.button-container {
  text-align: center;
  margin-top: -90px;
  font-size: 1.2em;
}
//this is for the dots in the carousel
.custom-dot-list-style {
  .react-multi-carousel-dot button {
    width: 30px;
    height: 30px;
  }
}

//these are for the switch
.bootstrap-switch {
  width: 65px !important;
  height: 26px;
  margin-bottom: 0px;
}

.bootstrap-switch-large {
  margin-top: -1px;
  margin-left: -1px;
  height: 27px !important;
  width: 100%;

  .bootstrap-switch-label {
    margin-left: -12px;
    height: 1.6875rem !important;
  }

  .bootstrap-switch-handle-off {
    font-size: small !important;
    line-height: 1.33 !important;
    width: 52% !important;
  }
  .bootstrap-switch-handle-on {
    font-size: small !important;
    line-height: 1.33 !important;
    margin-left: -3px;
  }
}
.bootstrap-switch-off {
  background: $default-color;
}
.bootstrap-switch-on {
  background: $info-color;
}

/*
For device sizes
https://stackoverflow.com/questions/41574776/what-is-class-mb-0-in-bootstrap-4

*/

/* Small devices (landscape phones, 320px and up) */
@media screen and (min-width: 320px) {
  h1 {
    font-size: 2.3em;
  }
  .button-online-appointments {
    margin-top: -10.5rem;
  }
  .title-landing-page {
    font-weight: $font-weight-bold;
    padding-top: 30px;
  }
}

/* Small devices (landscape phones, 360px and up) */
@media screen and (min-width: 360px) {
  h1 {
    font-size: 2.6em;
  }
  .button-online-appointments {
    margin-top: -11.5rem;
  }
}

/* Small devices (landscape phones, 411px and up) */
@media screen and (min-width: 411px) {
  h1 {
    font-size: 2.6em;
  }
  .button-online-appointments {
    margin-top: -13rem;
  }
}

@media screen and (min-width: 411px) and (orientation: landscape) {
  h1 {
    margin-top: 1rem;
    font-size: 2em;
  }
  .button-online-appointments {
    margin-top: -8.5rem;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {
  h1 {
    font-size: 3.2em;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) and (orientation: landscape) {
  h1 {
    font-size: 2.2em;
  }
  .button-online-appointments {
    margin-top: -9rem;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 640px) and (orientation: landscape) {
  h1 {
    font-size: 2.2em;
  }
  .button-online-appointments {
    margin-top: -9rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  h1 {
    font-size: 3.5em;
  }
  .button-online-appointments {
    margin-top: -15.5rem;
  }
}

@media screen and (min-width: 768px) and (orientation: landscape) {
  h1 {
    font-size: 2.2em;
  }
  .button-online-appointments {
    margin-top: -9.2rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
  h1 {
    font-size: 58px;
  }
  .button-online-appointments {
    margin-top: -18rem;
  }
}

@media screen and (min-width: 992px) and (orientation: landscape) {
  h1 {
    font-size: 3em;
  }
  .button-online-appointments {
    margin-top: -12rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  h1 {
    font-size: 3.5em;
  }
  .button-online-appointments {
    margin-top: -14rem;
  }
}
